@font-face {
  font-family: 'HK Grotesk Pro';
  src:  url('/files/fonts/HKGroteskPro-Regular.woff2') format('woff2'),
        url('/files/fonts/HKGroteskPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src:  url('/files/fonts/HKGroteskPro-Bold.woff2') format('woff2'),
        url('/files/fonts/HKGroteskPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}